<template name="taskItem">
  <li class="task-item {{#if canUpdate}}can-update{{/if}}{{#if selected}} selected-task{{/if}}{{#if private}} private{{/if}}">
    {{#if canUpdate}}
      <button class="toggle-private">
        {{#if private}}
          Private
        {{else}}
          Public
        {{/if}}
      </button>
    {{/if}}
    <span class="text">{{name}}</span>
    {{#if email}}
      <span class="email">{{email}}</span>
    {{/if}}
    {{#if canDelete}}
      <button class="delete-button">&times;</button>
    {{/if}}
  </li>
</template>
